@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #c0151b;
$background: #5d5d5d;
$border: #5d5d5d;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: #000;
	.moduletable_to11 {
		font-size: 10px;
		color: #fff;
		letter-spacing: 3px;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
		#a,
		#b,
		#c {
			z-index: 1;
		}
		#c {
			margin: 0 10px;
			border: {
				left: 1px solid #fff;
				right: 1px solid #fff;
			}
		}
	}
}

.top {
	padding: 10px 0;
	.moduletable_to1 {
		margin-top: -30px;
		position: relative;
		z-index: 2;
	}
	.moduletable_to2 {}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	h1 {
		font: {
			size: 16px;
			weight: bold;
		}
	}
	h2 {
		font: {
			size: 14px;
			weight: bold;
		}
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	iframe {
		border: 0;
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 10px;
				a {
					img {
						margin: 0;
						border: 1px solid $secondary_color;
					}
					h2 {
						padding: 15px !important;
						background-color: $secondary_color;
						color: #fff;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
				&.product-category {
					.count {
						display: none !important;
					}
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 40px;
	.moduletable_b11 {
		h3 {
			background: {
				image: url(h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				size: 14px;
				weight: bold;
			}
			color: $secondary_color;
		}
		a {
			font-weight: bold;
			color: $secondary_color;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 75px 0;
	background: {
		image: url(block_2_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b21 {
		p {
			margin: 0;
		}
		a.button {
			margin: 0;
			background-color: $secondary_color;
			border-radius: 0;
			font-weight: bold;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 40px 0;
	.moduletable_b31 {
		h3 {
			background: {
				image: url(h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				size: 14px;
				weight: bold;
			}
			color: $secondary_color;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $background;
	.moduletable_bo1 {
		color: #fff;
		letter-spacing: 3px;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $background;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		display: none;
	}

	.top {
		.moduletable_to1 {
			margin-top: 0;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}